APP_ENV=production
APP_DEBUG=false
APP_URL=http://localhost:8081 # заменить на реальный url
NGINX_PORT=8081
MYSQL_PORT=33061

PHP_IMAGE=php:8.4-fpm-alpine3.21
NGINX_IMAGE=nginx:1.27.5-alpine
MYSQL_IMAGE=mysql:8.4.4
CLOUDFLARED_IMAGE=cloudflare/cloudflared:2025.2.1
APP_USER=crmprod
APP_GROUP=crmprod
APP_UID=1000
APP_GID=1000

MYSQL_DATABASE=crm
MYSQL_USER=app
MYSQL_PASSWORD=change-me
MYSQL_ROOT_PASSWORD=change-me-root

CLOUDFLARE_TUNNEL_TOKEN=replace-me
