APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080
APP_PORT=8080
MYSQL_PORT=33060

PHP_IMAGE=php:8.4-fpm-alpine3.21
NGINX_IMAGE=nginx:1.27.5-alpine
MYSQL_IMAGE=mysql:8.4.4
APP_USER=crmdev
APP_GROUP=crmdev
APP_UID=1000
APP_GID=1000

MYSQL_DATABASE=crm
MYSQL_USER=app
MYSQL_PASSWORD=secret
MYSQL_ROOT_PASSWORD=root
